Repository viktor-kth/DT2112: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, jupyter-nb-clear-output, ruff

black:
  name: black
  entry: black
  language: system
  require_serial: true

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - pre-commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

ruff:
  name: ruff
  entry: ruff check
  language: system
  require_serial: true

revert faiss add annotations
  src/kth_sr/vectorstore.py
Due: black, ruff

update docstring examples vstore
  src/kth_sr/vectorstore.py
Due: black, ruff

add test for add invalid data to vstore
  tests/test_vectorstore.py
Due: black, ruff

add length to file names
  notebooks/load_data.ipynb
Due: jupyter-nb-clear-output

add pipeline to download more top celebs
  notebooks/load_data.ipynb
Due: jupyter-nb-clear-output

resolve problem with float name
  notebooks/load_data.ipynb
Due: jupyter-nb-clear-output

18 download more celeb data (#19)
  notebooks/load_data.ipynb
Due: jupyter-nb-clear-output

fix notebook
  notebooks/load_data.ipynb
Due: jupyter-nb-clear-output

fix notebook (#20)
  notebooks/load_data.ipynb
Due: jupyter-nb-clear-output

add first iteration
  demo/app.py
  demo/main.css
  demo/static/script.js
  demo/templates/index.html
Due: ruff

add code for embeddings and strategies
  src/kth_sr/embeddings.py
  src/kth_sr/embeddings/__init__.py
  src/kth_sr/embeddings/model.py
  src/kth_sr/embeddings/strategies.py
  tests/embeddings/test_strategies.py
Due: black, ruff

update embedding strategies
  src/kth_sr/embeddings/strategies.py
  tests/embeddings/test_strategies.py
Due: black, ruff

update model embed interface
  src/kth_sr/embeddings/model.py
Due: black, ruff

update embed model batch aproach
  src/kth_sr/embeddings/model.py
Due: black, ruff

commiting to store files
  notebooks/load_data.ipynb
  pyproject.toml
Due: jupyter-nb-clear-output

move get_celeb function to utils
  notebooks/load_data.ipynb
  src/kth_sr/utils.py
Due: black, jupyter-nb-clear-output, ruff

add file_name and sample_number to get_df by folder function
  src/kth_sr/utils.py
Due: black, ruff

add filter celebs notebook
  notebooks/filter_celeb_data.ipynb
Due: jupyter-nb-clear-output

14 vectorstore threshold (#21)
  src/kth_sr/vectorstore.py
  tests/test_vectorstore.py
Due: black, ruff

23 filter celeb data (#24)
  notebooks/filter_celeb_data.ipynb
  notebooks/load_data.ipynb
  src/kth_sr/utils.py
Due: black, jupyter-nb-clear-output, ruff

add working visualizer
  demo/app.py
  demo/main.css
  demo/static/script.js
  demo/static/style.css
  demo/templates/index.html
  notebooks/load_data.ipynb
Due: jupyter-nb-clear-output, ruff

basic version of demo done
  demo/app.py
  demo/static/script.js
  demo/static/style.css
  demo/templates/index.html
  notebooks/load_data.ipynb
  src/demo/app.py
  src/demo/static/script.js
  src/demo/static/style.css
  src/demo/templates/index.html
  src/kth_sr/__init__.py
  src/kth_sr/loaddata.py
  src/kth_sr/vectorstore.py
Due: black, jupyter-nb-clear-output, ruff

add celebs dataset
  .gitignore
  data/celebs_dev.csv
Due: none

add celebs dataset (#25)
  .gitignore
  data/celebs_dev.csv
Due: none

first demo done
  src/demo/static/style.css
  src/kth_sr/loaddata.py
Due: black, ruff

Update README.md
  README.md
Due: none

Merge demo build (#26)
  notebooks/load_data.ipynb
  pyproject.toml
  src/demo/app.py
  src/demo/static/script.js
  src/demo/static/style.css
  src/demo/templates/index.html
  src/kth_sr/__init__.py
  src/kth_sr/loaddata.py
  src/kth_sr/vectorstore.py
Due: black, jupyter-nb-clear-output, ruff

update requirements
  pyproject.toml
Due: none

update requirements (#27)
  pyproject.toml
Due: none

apply ruff and black
  notebooks/filter_celeb_data.ipynb
  notebooks/load_data.ipynb
  src/demo/app.py
  src/kth_sr/__init__.py
  src/kth_sr/loaddata.py
Due: black, jupyter-nb-clear-output, ruff

apply isort
  notebooks/filter_celeb_data.ipynb
  notebooks/load_data.ipynb
  pyproject.toml
  src/demo/app.py
  src/kth_sr/embeddings.py
  src/kth_sr/loaddata.py
  src/kth_sr/mfcc.py
  src/kth_sr/utils.py
  src/kth_sr/vectorstore.py
  tests/test_vectorstore.py
Due: black, jupyter-nb-clear-output, ruff

add instalation and demo guide to readme
  README.md
Due: none

add instalation and demo guide to readme (#29)
  README.md
Due: none

added missing files
  data/celeb_data_with_wiki.csv
  data/filtered_celebs_data/celebs_200_9_clips/metadata.json
  data/filtered_celebs_data/celebs_200_9_clips/vector_store.index
Due: none

Fix formatting (#28)
  notebooks/filter_celeb_data.ipynb
  notebooks/load_data.ipynb
  pyproject.toml
  src/demo/app.py
  src/kth_sr/__init__.py
  src/kth_sr/embeddings.py
  src/kth_sr/loaddata.py
  src/kth_sr/mfcc.py
  src/kth_sr/utils.py
  src/kth_sr/vectorstore.py
  tests/test_vectorstore.py
Due: black, jupyter-nb-clear-output, ruff

add files required for demo
  data/celeb_data_with_wiki.csv
  data/filtered_celebs_data/celebs_200_9_clips/metadata.json
  data/filtered_celebs_data/celebs_200_9_clips/vector_store.index
Due: none

make app runnable
  src/demo/app.py
Due: black, ruff

added filips files
  notebooks/thresholds.ipynb
  notebooks/top200_celebs.ipynb
Due: jupyter-nb-clear-output

Path conditions:
  black: any of: ^(src/|tests) and \.py$
  jupyter-nb-clear-output: any of: \.ipynb$
  ruff: any of: \.py$
