Repository viktor-kth/DT2112: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, jupyter-nb-clear-output, ruff

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        require_serial: true
        files: ^(src/|tests)
        types: [python]

      - id: black-jupyter
        name: black-jupyter
        entry: black
        language: system
        require_serial: true
        types_or: [python, pyi, jupyter]
      
      - id: jupyter-nb-clear-output
        name: jupyter-nb-clear-output
        files: \.ipynb$
        stages: [pre-commit]
        language: system
        entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

      - id: ruff
        name: ruff
        entry: ruff check
        language: system
        require_serial: true
        types: [python]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0  # Use the ref you want to point at
    hooks:
    -   id: check-added-large-files

add data folder to LFS
  .gitattributes
  src/kth_sr/__init__.py
Due: black, ruff

add data folder to gitignore
  .gitignore
  data/.gitkeep
Due: none

add first version of data loader notebook
  notebooks/load_data.ipynb
Due: jupyter-nb-clear-output

add dev/test csv files
  .gitignore
  data/.gitkeep
  data/dev.csv
  data/test.csv
Due: none

update load data ipynb
  notebooks/load_data.ipynb
Due: jupyter-nb-clear-output

update project description
  pyproject.toml
Due: none

2 load test data (#5)
  .gitattributes
  .gitignore
  .pre-commit-config.yaml
  data/dev.csv
  data/test.csv
  makefile
  notebooks/load_data.ipynb
  pyproject.toml
  src/kth_sr/__init__.py
Due: black, jupyter-nb-clear-output, ruff

add metadata dataset
  .gitignore
  data/vox2_meta.csv
Due: none

update column names for vox meta
  data/vox2_meta.csv
Due: none

4 load user id to name mapping (#6)
  .gitignore
  data/vox2_meta.csv
Due: none

add notebook with celeb ranking script
  notebooks/celeb_ranking.ipynb
Due: jupyter-nb-clear-output

add celeb ranking to metadata
  data/vox2_meta.csv
  notebooks/celeb_ranking.ipynb
Due: jupyter-nb-clear-output

add top celebs loader
  notebooks/load_data.ipynb
Due: jupyter-nb-clear-output

8 filter top celebrities (#9)
  data/vox2_meta.csv
  notebooks/celeb_ranking.ipynb
  notebooks/load_data.ipynb
Due: jupyter-nb-clear-output

add code for embedding model load
  src/kth_sr/embeddings.py
Due: black, ruff

add embedding model repo to requirements
  pyproject.toml
Due: none

add mfcc custom sampler
  src/kth_sr/mfcc.py
Due: black, ruff

change name of get_embeddings
  src/kth_sr/embeddings.py
Due: black, ruff

update first_k_window input
  src/kth_sr/mfcc.py
Due: black, ruff

add first_k_from_file
  src/kth_sr/mfcc.py
Due: black, ruff

7 embedding model (#10)
  pyproject.toml
  src/kth_sr/embeddings.py
  src/kth_sr/mfcc.py
Due: black, ruff

add vectorstore class
  src/kth_sr/vectorstore.py
Due: black, ruff

add fiass to requirements
  pyproject.toml
Due: none

add test add vectors to vectorstore
  tests/test_vectorstore.py
Due: black, ruff

add test vstore save/load
  tests/test_vectorstore.py
Due: black, ruff

update annotations of vectorstore
  src/kth_sr/vectorstore.py
Due: black, ruff

fix metadata adding
  src/kth_sr/vectorstore.py
Due: black, ruff

add test vstore add without metadata
  tests/test_vectorstore.py
Due: black, ruff

11 add vectorstore (#12)
  pyproject.toml
  src/kth_sr/vectorstore.py
  tests/test_vectorstore.py
Due: black, ruff

add dev data loader
  notebooks/load_data.ipynb
Due: jupyter-nb-clear-output

fix search for multiple queries
  src/kth_sr/vectorstore.py
Due: black, ruff

add test of search with multiple queries
  tests/test_vectorstore.py
Due: black, ruff

13 fix vectorstore search (#15)
  src/kth_sr/vectorstore.py
  tests/test_vectorstore.py
Due: black, ruff

add comment to load_data notebook
  notebooks/load_data.ipynb
Due: jupyter-nb-clear-output

add dev data loader (#16)
  notebooks/load_data.ipynb
Due: jupyter-nb-clear-output

update docstring for vectorstore search
  src/kth_sr/vectorstore.py
Due: black, ruff

add threasholding to search
  src/kth_sr/vectorstore.py
Due: black, ruff

add test for threasholding vstore
  tests/test_vectorstore.py
Due: black, ruff
